// =============================
// @@ ++  Header region
// =============================

header
  #logo
  .quotes
    margin: 60px 0 10px
    font-size: 18px
    padding: 8px
    background: $background-content repeat
    text-align: center
    border: solid 1px $pink
    p::before
      font-size: 40px
      content: '" '
      line-height: 30px
      color: $pink