// ====================================
//  News
// ====================================

#news
  border: solid 4px $pink
  padding: 20px
  background-color: rgba(255, 255, 255, .9)


#news img, .node-nieuws img
  float: left
  padding: 0 10px 5px 0


#news .views-row
  overflow: hidden
